body{
  background-image: url("background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.container {
  width: 350px;
  display: flex;
  flex-direction: column;
  padding: 0 15px 0 15px;
}

i{
    position: relative;
    top: -33px;
    left: 17px;
    color: #fff;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.input-field .input{
    height: 45px;
    width: 87%;
    border: none;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    padding: 0 0 0 45px;
    background: rgba(255,255,255,0.1);
    outline: none;
}

::-webkit-input-placeholder{
    color: #fff;
}

.p-reset {
  color: #fff;
  position: relative;
  bottom: 120px;
  left: 50px;
  font-size: 20px;
}

.submit{
  border: none;
  border-radius: 30px;
  font-size: 15px;
  height: 45px;
  outline: none;
  width: 100%;
  color: black;
  background: rgba(255,255,255,0.7);
  cursor: pointer;
  transition: .3s ;
  position: relative;
  top: 15px;
}
.submit:hover{
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.8);
}