<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename = 'forgot-password.css')}}">
  <title>Forgot Password</title>
</head>
<body>
  <form method="post">
    <input type="hidden" name="_captcha" value="false">
    <div class="box">
      <div class="container">
        <div class="input-field">
          <input type="text" class="input" placeholder="Email" id="">
          <i class='bx bx-user'></i>
        </div>
        <div class="input-field">
              <input type="submit" class="submit" value="Send Code" id="">
          </div>
        <label class="p-reset">Please enter your account email</label>
        
      </div>
    </div>
  
  </form>
  
  
</body>
</html>